<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <div id="map-canvas"></div>
    <p>{{chat.name}}</p>
    <p>
      {{chat.lastText}}
    </p>
  </ion-content>
</ion-view>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvSF7ROtqtUTKiulD0z35xkx8L7eVf1qY">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>