<ion-view view-title="匿名通報">
  <ion-content>
    <ion-list>
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="店家名稱">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="地址">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="產品名稱">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="通報原因">
		  </label>
		  <button class="button button-positive button-block" ng-click="showConfirm()">
			 送出
		  </button>
		</div>
    </ion-list>
  </ion-content>
</ion-view>
