<ion-view >
   <ion-nav-title>
     <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <div ng-click="ksearch('i')"><i class="icon ion-ios-search placeholder-icon"></i></div>
        
        <input type="search" placeholder="安全認證查詢" >
      </label>
    </div>
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/safe/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive ion-android-favorite" ng-click="add(chat,$event)">
           
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>